CDS.solutions/TelcoApps/Extracts/Base/Workflows/GeographicLocation-CreateGeographicPointsOnUpdateo-3F999E4B-8D8E-EB11-A812-000D3A1F6FDB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_JSON_Metadata_is_changed_in_Geographic_Location_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"mstelco_geographiclocation","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mstelco_jsonmetadata","subscriptionRequest/runas":1,"subscriptionRequest/name":"3f999e4b-8d8e-eb11-a812-000d3a1f6fdb"},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_condition_to_work_only_for_Polygon,_Line,_Circle,_Point_type_geometrics":{"actions":{"Fetch_Geographic_Points_related_to_Geographic_Location":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"mstelco_geographicpoints","$select":"mstelco_geographicpointid","$filter":"_mstelco_geographiclocationid_value eq @{triggerOutputs()?['body/mstelco_geographiclocationid']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Delete_all_fetched_records":{"foreach":"@outputs('Fetch_Geographic_Points_related_to_Geographic_Location')?['body/value']","actions":{"Delete_Geographic_Point_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord"},"parameters":{"entityName":"mstelco_geographicpoints","recordId":"@items('Apply_to_each_-_Delete_all_fetched_records')?['mstelco_geographicpointid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Fetch_Geographic_Points_related_to_Geographic_Location":["Succeeded"]},"type":"Foreach"},"Switch_Control_for_Geometric_Type":{"runAfter":{"Apply_to_each_-_Delete_all_fetched_records":["Succeeded"]},"cases":{"Case_Polygon":{"case":719830002,"actions":{"Parse_JSON_for_Polygon_type":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"}}}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_to_get_polygon_coordinates_array":{"foreach":"@body('Parse_JSON_for_Polygon_type')?['features']","actions":{"Set_variable_for_multi_dimensional_coordinates_array":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Coordinates Items","value":"@items('Apply_to_each_-_to_get_polygon_coordinates_array')?['geometry']?['coordinates']"}},"Set_variable_actual_coordinates_array_-_Polygon":{"runAfter":{"Set_variable_for_multi_dimensional_coordinates_array":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Coordinates Items 1","value":"@variables('Coordinates Items')[0]"}}},"runAfter":{"Parse_JSON_for_Polygon_type":["Succeeded"]},"type":"Foreach"}}},"Case_Line":{"case":719830001,"actions":{"Parse_JSON_for_Line_type":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number"}}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_to_get_line_coordinates_array":{"foreach":"@body('Parse_JSON_for_Line_type')?['features']","actions":{"Set_variable_actual_coordinates_array_-_Line":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Coordinates Items 1","value":"@items('Apply_to_each_-_to_get_line_coordinates_array')?['geometry']?['coordinates']"}}},"runAfter":{"Parse_JSON_for_Line_type":["Succeeded"]},"type":"Foreach"}}},"Case_Circle":{"case":719830005,"actions":{"Parse_JSON_for_Circle_Type":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"},"_azureMapsMarker":{"type":"string"},"subType":{"type":"string"},"radius":{"type":"number"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_to_get_circle_coordinates_array":{"foreach":"@body('Parse_JSON_for_Circle_Type')?['features']","actions":{"Set_variable_actual_coordinates_array_-_Circle":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Coordinates Items 1","value":"@items('Apply_to_each_-_to_get_circle_coordinates_array')?['geometry']?['coordinates']"}},"Create_row_for_Geographic_Point_with_Coordinates_for_Circle_Type":{"runAfter":{"Increment_Order_variable_for_to_assign_for_Circle_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"mstelco_geographicpoints","item/mstelco_GeographicLocationId@odata.bind":"/mstelco_geographiclocations(@{triggerOutputs()?['body/mstelco_geographiclocationid']})","item/mstelco_latitude":"@variables('Coordinates Items 1')[1]","item/mstelco_longitude":"@variables('Coordinates Items 1')[0]","item/mstelco_order":"@variables('Order Increment')"},"authentication":"@parameters('$authentication')"}},"Increment_Order_variable_for_to_assign_for_Circle_Type":{"runAfter":{"Set_variable_actual_coordinates_array_-_Circle":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Order Increment","value":1}}},"runAfter":{"Parse_JSON_for_Circle_Type":["Succeeded"]},"type":"Foreach"},"Terminate_Flow_if_Circle_type_completed":{"runAfter":{"Apply_to_each_-_to_get_circle_coordinates_array":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"Case_Point":{"case":719830000,"actions":{"Parse_JSON_for_Point_Type":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_to_get_point_coordinates_array":{"foreach":"@body('Parse_JSON_for_Point_Type')?['features']","actions":{"Set_variable_actual_coordinates_array_-_Point":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Coordinates Items 1","value":"@items('Apply_to_each_-_to_get_point_coordinates_array')?['geometry']?['coordinates']"}},"Increment_Order_variable_for_to_assign_for_Point_Type":{"runAfter":{"Set_variable_actual_coordinates_array_-_Point":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Order Increment","value":1}},"Create_row_for_Geographic_Point_with_Coordinates_for_Point_Type":{"runAfter":{"Increment_Order_variable_for_to_assign_for_Point_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"mstelco_geographicpoints","item/mstelco_GeographicLocationId@odata.bind":"/mstelco_geographiclocations(@{triggerOutputs()?['body/mstelco_geographiclocationid']})","item/mstelco_latitude":"@variables('Coordinates Items 1')[1]","item/mstelco_longitude":"@variables('Coordinates Items 1')[0]","item/mstelco_order":"@variables('Order Increment')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_for_Point_Type":["Succeeded"]},"type":"Foreach"},"Terminate_Flow_if_Point_type_completed":{"runAfter":{"Apply_to_each_-_to_get_point_coordinates_array":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"default":{"actions":{"Terminate_Flow_if_Default":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":"@triggerOutputs()?['body/mstelco_geometrictype']","type":"Switch"},"Iterate_within_the_Actual_Coordinates_Array":{"foreach":"@variables('Coordinates Items 1')","actions":{"Assigning_Current_Item_to_Array":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CoordinateItem","value":"@items('Iterate_within_the_Actual_Coordinates_Array')"}},"Increment_Order_Variable":{"runAfter":{"Assigning_Current_Item_to_Array":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Order Increment","value":1}},"Create_a_record_for_Geographic_Point_for_corresponding_coordinates":{"runAfter":{"Increment_Order_Variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"mstelco_geographicpoints","item/mstelco_GeographicLocationId@odata.bind":"/mstelco_geographiclocations(@{triggerOutputs()?['body/mstelco_geographiclocationid']})","item/mstelco_latitude":"@variables('CoordinateItem')[1]","item/mstelco_longitude":"@variables('CoordinateItem')[0]","item/mstelco_order":"@variables('Order Increment')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch_Control_for_Geometric_Type":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_Variable_to_set_Order_in_Geometric_Points":["Succeeded"]},"else":{"actions":{"Terminate_flow":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/mstelco_geometrictype']",719830000]},{"equals":["@triggerOutputs()?['body/mstelco_geometrictype']",719830001]},{"equals":["@triggerOutputs()?['body/mstelco_geometrictype']",719830002]},{"equals":["@triggerOutputs()?['body/mstelco_geometrictype']",719830005]}]},"type":"If"},"Initialize_temporary_variable_for_Coordinates_Array":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Coordinates Items","type":"array"}]}},"Initialize_another_temporary_variable_for_Coordinates_Array":{"runAfter":{"Initialize_temporary_variable_for_Coordinates_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Coordinates Items 1","type":"array"}]}},"Initialize_Coordinates_Array":{"runAfter":{"Initialize_another_temporary_variable_for_Coordinates_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CoordinateItem","type":"array"}]}},"Initialize_Variable_to_set_Order_in_Geometric_Points":{"runAfter":{"Initialize_Coordinates_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Order Increment","type":"integer","value":0}]}}}}},"schemaVersion":"1.0.0.0"}