CDS.solutions/TelcoApps/Extracts/Base/Workflows/GeographicLocation-UpdateJSONinGeoagraphicLocation-40999E4B-8D8E-EB11-A812-000D3A1F6FDB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Radius,_Radius_Unit_are_modified_in_Geographic_Location":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"mstelco_geographiclocation","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mstelco_circleradius,mstelco_circleradiusunit","subscriptionRequest/name":"40999e4b-8d8e-eb11-a812-000d3a1f6fdb"},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_the_Geometric_Type_is_Circle":{"actions":{"Switch_control_for_Radius_Unit":{"runAfter":{},"cases":{"Case_Meters":{"case":719830000,"actions":{"Set_Meters_Conversion_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ConvertedUnit","value":"@mul(triggerOutputs()?['body/mstelco_circleradius'], 1)"}},"Parse_JSON_for_Meters":{"runAfter":{"Set_Meters_Conversion_Variable":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"},"_azureMapsMarker":{"type":"string"},"subType":{"type":"string"},"radius":{"type":"number"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_Meters":{"foreach":"@body('Parse_JSON_for_Meters')?['features']","actions":{"Compose_JSON_for_Meters_type":{"runAfter":{},"type":"Compose","inputs":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"_azureMapsShapeId":"@items('Apply_to_each_-_Meters')?['properties']?['_azureMapsShapeId']","_azureMapsMarker":"@items('Apply_to_each_-_Meters')?['properties']?['_azureMapsMarker']","subType":"@items('Apply_to_each_-_Meters')?['properties']?['subType']","radius":"@variables('ConvertedUnit')"},"id":"@items('Apply_to_each_-_Meters')?['id']","geometry":{"type":"@items('Apply_to_each_-_Meters')?['geometry']?['type']","coordinates":"@items('Apply_to_each_-_Meters')?['geometry']?['coordinates']"}}]}},"Update_Geographic_Location_for_Meter_type_with_updated_JSON":{"runAfter":{"Compose_JSON_for_Meters_type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"mstelco_geographiclocations","recordId":"@triggerOutputs()?['body/mstelco_geographiclocationid']","item/mstelco_jsonmetadata":"@outputs('Compose_JSON_for_Meters_type')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_for_Meters":["Succeeded"]},"type":"Foreach"}}},"Case_Feet":{"case":719830001,"actions":{"Set_Feet_Conversion_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ConvertedUnit","value":"@mul(triggerOutputs()?['body/mstelco_circleradius'], 0.3048)"}},"Parse_JSON_for_Feet":{"runAfter":{"Set_Feet_Conversion_Variable":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"},"_azureMapsMarker":{"type":"string"},"subType":{"type":"string"},"radius":{"type":"number"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_Feet":{"foreach":"@body('Parse_JSON_for_Feet')?['features']","actions":{"Compose_JSON_for_Feet_type":{"runAfter":{},"type":"Compose","inputs":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"_azureMapsShapeId":"@items('Apply_to_each_-_Feet')?['properties']?['_azureMapsShapeId']","_azureMapsMarker":"@items('Apply_to_each_-_Feet')?['properties']?['_azureMapsMarker']","subType":"@items('Apply_to_each_-_Feet')?['properties']?['subType']","radius":"@variables('ConvertedUnit')"},"id":"@items('Apply_to_each_-_Feet')?['id']","geometry":{"type":"@items('Apply_to_each_-_Feet')?['geometry']?['type']","coordinates":"@items('Apply_to_each_-_Feet')?['geometry']?['coordinates']"}}]}},"Update_Geographic_Location_for_Feet_type_with_updated_JSON":{"runAfter":{"Compose_JSON_for_Feet_type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"mstelco_geographiclocations","recordId":"@triggerOutputs()?['body/mstelco_geographiclocationid']","item/mstelco_jsonmetadata":"@outputs('Compose_JSON_for_Feet_type')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_for_Feet":["Succeeded"]},"type":"Foreach"}}},"Case_Kilometers":{"case":719830002,"actions":{"Set_Kilometers_Conversion_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ConvertedUnit","value":"@mul(triggerOutputs()?['body/mstelco_circleradius'], 1000)"}},"Parse_JSON_for_Kilometers":{"runAfter":{"Set_Kilometers_Conversion_Variable":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"},"_azureMapsMarker":{"type":"string"},"subType":{"type":"string"},"radius":{"type":"number"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_Kilometers":{"foreach":"@body('Parse_JSON_for_Kilometers')?['features']","actions":{"Compose_JSON_for_Kilometers_type":{"runAfter":{},"type":"Compose","inputs":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"_azureMapsShapeId":"@items('Apply_to_each_-_Kilometers')?['properties']?['_azureMapsShapeId']","_azureMapsMarker":"@items('Apply_to_each_-_Kilometers')?['properties']?['_azureMapsMarker']","subType":"@items('Apply_to_each_-_Kilometers')?['properties']?['subType']","radius":"@variables('ConvertedUnit')"},"id":"@items('Apply_to_each_-_Kilometers')?['id']","geometry":{"type":"@items('Apply_to_each_-_Kilometers')?['geometry']?['type']","coordinates":"@items('Apply_to_each_-_Kilometers')?['geometry']?['coordinates']"}}]}},"Update_Geographic_Location_for_Kilometer_type_with_updated_JSON":{"runAfter":{"Compose_JSON_for_Kilometers_type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"mstelco_geographiclocations","recordId":"@triggerOutputs()?['body/mstelco_geographiclocationid']","item/mstelco_jsonmetadata":"@outputs('Compose_JSON_for_Kilometers_type')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_for_Kilometers":["Succeeded"]},"type":"Foreach"}}},"Case_Miles":{"case":719830003,"actions":{"Set_Miles_Conversion_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ConvertedUnit","value":"@mul(triggerOutputs()?['body/mstelco_circleradius'], 1609.34)"}},"Parse_JSON_for_Miles":{"runAfter":{"Set_Miles_Conversion_Variable":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerOutputs()?['body/mstelco_jsonmetadata']","schema":{"type":"object","properties":{"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"_azureMapsShapeId":{"type":"string"},"_azureMapsMarker":{"type":"string"},"subType":{"type":"string"},"radius":{"type":"number"}}},"id":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}}},"required":["type","properties","id","geometry"]}}}}}},"Apply_to_each_-_Miles":{"foreach":"@body('Parse_JSON_for_Miles')?['features']","actions":{"Compose_JSON_for_Miles_type":{"runAfter":{},"type":"Compose","inputs":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"_azureMapsShapeId":"@items('Apply_to_each_-_Miles')?['properties']?['_azureMapsShapeId']","_azureMapsMarker":"@items('Apply_to_each_-_Miles')?['properties']?['_azureMapsMarker']","subType":"@items('Apply_to_each_-_Miles')?['properties']?['subType']","radius":"@variables('ConvertedUnit')"},"id":"@items('Apply_to_each_-_Miles')?['id']","geometry":{"type":"@items('Apply_to_each_-_Miles')?['geometry']?['type']","coordinates":"@items('Apply_to_each_-_Miles')?['geometry']?['coordinates']"}}]}},"Update_Geographic_Location_for_Miles_type_with_updated_JSON":{"runAfter":{"Compose_JSON_for_Miles_type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"mstelco_geographiclocations","recordId":"@triggerOutputs()?['body/mstelco_geographiclocationid']","item/mstelco_jsonmetadata":"@outputs('Compose_JSON_for_Miles_type')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_for_Miles":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{"Terminate_Default_Case":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":"@triggerOutputs()?['body/mstelco_circleradiusunit']","type":"Switch"}},"runAfter":{"Initialize_variable_for_conversions":["Succeeded"]},"else":{"actions":{"Terminate_Flow":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/mstelco_geometrictype']",719830005]},"type":"If"},"Initialize_variable_for_conversions":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConvertedUnit","type":"float"}]}}}}},"schemaVersion":"1.0.0.0"}